head 
  link(rel='stylesheet', href='/style.css')
  link(rel='icon', href='icon.ico', type='image/x-icon')
  script(src='/socket.io.js')
  script(src='/demo.js')
body
  .container
    |
    .buttons
      .upload
        form(name='uploadForm', action='/' method = 'POST',  enctype="multipart/form-data")
          input(id='text',type='text', name = "test", value="test",style='display:none')
          input(id='file',type='file', name="source", style='display:none')
          input(class="button",value='Upload a video',onclick='thisFileUpload();')
      .live
        form(name='livestreamForm',action='/' method = 'GET')
          input(id='livetext',type='text', name = "live", value="true",style='display:none')
          input(class = "button", name="livestream", value ="5 minute livestream" onclick='initiateLivestream();')
    .video
      |
      #{iframecode}
      p
    .serverResponse
      | 
      p #{videoResponse}
      p
    
    #liveTest
    #Livestream
      p live stream
    #output_message
    #output_console
    
    #rtmpEndpoint #{rtmpEndpoint}
    #video_show
    video(id='output_video',autoplay)