
  .container{width:100%;
      background-color: #FFFFFF}
  .buttons { 
    width: 100%;
    padding: 20px;
   
  }
  .upload {
	width: 100%;
    background-color: orange;
	border-radius: 15px;
    text-align:center;
    color: white;
  }
  .live {
	width: 100%;
    background-color: blue;
    border-radius: 15px;
    text-align:center;
    color: white;
  }
  .video{
    width : 100%;
    border-style: solid;
	overflow:hidden;
    padding: 20px;
	
  }
  .serverResponse{
    width : 100%;
	height: 20em;
	padding-left: 20px;
	padding-right: 20px;
    min-height:6em;
	max-height:12em;
	background-color: none;
	overflow-wrap: break-word;
	overflow: scroll;
    border-style: solid;
    border-color: gray;
	color:white;
	white-space: pre-line;
	background-color:black;
	font-family:"Courier New", Courier, monospace;
  }
  .button{
      display: block;
      padding: 20px;
      width: 100%; 
	  border-color:transparent;
      border-radius: 15px;
      background-color: transparent;
      font-size:20px;
      text-align:center;
      color: white;
  }
  .liveTest {
	width: 100%;
	padding: 20px;
    background-color: blue;
    text-align:center;
    color: white;
  }
  .livestream {
	width: 100%;
	padding: 20px;
    background-color: green;
    text-align:center;
    color: white;
  }

/*fullscreen*/
@media only screen and (min-width: 900px){
  .container{width:100%;}
  .buttons{
  	overflow:hidden;
  }
	.upload{
		width:33%;
		margin-left: 15%;
		float:left;
		
	    
	}
	.live{
		width:33%;
		float:right;
		margin-right: 15%;
		align: center;
		
	}
    .video{
      float:right;
      width : 45%;
    }
    .serverResponse{
      float:left;
      margin:0 auto;
      width : 45%;
    }
    .liveTest {
  	
	width: 100%;
  	padding: 20px;
    }
    .livestream {
  	width: 100%;
  	padding: 20px;
    }
}